@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #ccc;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar{
    background-color: #111;
    /* height: 80px; */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    
       
}

.logo-seker-market{
    position: absolute;
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 100px;
    font-weight: bold;
    /* margin-left: 30px; */
    top: 0%;
    left: 0%;
    
}
.logo-seker-market img{
    width: auto;
    height: 120px;
    
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
     
    
    margin: 0px 5px;
}
nav ul li a {
    color: white;
    text-transform: uppercase;
    padding: 7px 13px; 
    border-radius: 3px;
    font-size: 17px;
}
a.active,a:hover{
    transition: .5s;
    /* background: #FF8DC7; */
    color: crimson;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

section{
    /* background: url(foto.jpg) no-repeat; */
    /* background-size: calc(100%); */
    /* height: calc(100vh - 80px); */
    /* height: calc(100vh); */
    height: calc(100vh);
    background: url(foto.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 20px;
}
.slideshow-images{
    width: 100%;
    height: 500px;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

.product{
    text-align: center;
    padding: 5px;
}
.product__badge{
    background: #fff;
    color: #FC997C;
    padding: 8px;
    border-radius: 5px;
}
.recommended_product{
    color: #fff;
    background: #396EB0!important;
}
.inner-product{
    background: #edf5f7;
    padding: 25px 10px;
    border-radius: 5px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    transition: .6s;
}
.inner-product:hover{
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.5);
}
.product__features{
    list-style: none;
    margin: 0;
    padding: 0;
}
.product--featured{
    position: relative;
    top: -20px;
}
.product__features li {
    margin: 6px 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

.col-3 {
    float: left;
    width: 33.3%;
}
.row {
    margin-top: 40px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.products-title{
    text-align: center;
    margin-bottom: 40px;
    color: #3e4555;
    font-size: 30px;
}
.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition-duration: .6s
}
.btn-primary {
    background: #FC997C;
    color: #fff;
    border: 2px solid #FC997C;
}
.btn-primary:hover {
    background: #fff;
    color: #FC997C;
    border: 2px solid #FC997C;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
        margin-left: 10px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .slideshow-container{
        z-index: -1;
    }

}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #111;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;

    }
    nav ul li {
        display: block;
        margin: 0px 50px;
        line-height: 80px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: crimson;;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .slideshow-container{
        z-index: -1;
    }
    
}